#listsWrapper{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    align-items: stretch;
    border-bottom: 0.5em black solid;
}

#detailsWrapper{
    display: flex;
    align-items: stretch;
    gap: 2rem;
}

.education{
    flex: 1;
    border-right: 0.5em black solid;
}

.education:last-child{
    border: 0;
}

.coursesLink, .coursesLink:visited, .coursesLink:active{
    color: black;
}

.coursesLink:hover{
    opacity: 0.85;
}

h1{
    text-align: left;
}

ul{
    padding: 1em;
    list-style-type: disc;
    list-style-position: outside;
}

/* RESPONSIVE DESGIN */
@media (max-width: 700px){
    #listsWrapper{
        flex-direction: column;
        gap: 1rem;
        border: 0;
    }

    #detailsWrapper{
        flex-direction: column;
        gap: 1rem;
    }

    .courseArticle{
        border-bottom: 0.3em black solid;
    }

    .courseArticle:last-child{
        border: 0;
    }

    .education{
        border-right: 0;
        border-bottom: 0.3em black solid;
    }

    .education:last-child{
        border-bottom: 0.3em black solid;
        border-right: 0;
    }
}
