#listsWrapper{
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    align-items: stretch;
    border-bottom: 0.5em black solid;
}

.education{
    flex: 1;
    border-right: 0.5em black solid;
}

#current, #previous{
    flex: 2;
}

.education:last-child{
    border: 0;
}

.courses, .courses:visited, .courses:active{
    color: black;
    text-decoration: none;
}

.courses:hover{
    opacity: 0.85;
}

h1{
    text-align: left;
}

ul{
    padding: 1em;
    list-style-type: disc;
    list-style-position: outside;
}

/* RESPONSIVE DESGIN */
@media (max-width: 700px){
    #listsWrapper{
        flex-direction: column;
        border: 0;
    }

    .education{
        border-right: 0;
        border-bottom: 0.3em black solid;
        flex: 1;
    }

    #current, #previous{
        flex: 1;
    }

    .education:last-child{
        border-bottom: 0.3em black solid;
        border-right: 0;
    }
}
