.breadcrumbs{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadItem{
    display: inline;
}

.breadItem a{
    color: black;
    text-decoration: none;
}

.logo{
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.wrapper{
    gap: 2rem;
    border: 0;
}

.wrapper section{
    border: 0;
}

#currentPage{
    text-decoration: underline;
}