/*
This is the main CSS file that will be applied to all pages
*/

/* NAVBAR STYLING */
#navWrap{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navBar{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: auto;
}

.navLinks{
    display: block;
    color: white;
    text-align: center;
    padding: 0.75em 1em;
    text-decoration: none;
}

@media (max-width: 450px){
    .navLinks{
        padding: 0.2em 0.2em;
    }
}

.navLinks[aria-current='page']{
    background-color: #00379E;
}
.navLinks[aria-current='page']:hover{
    background-color: #00379E;
}

.navLinks:hover{
    background-color: #111111;
    opacity: 0.8;
}
/* END OF NAVBAR STYLING */

/* START OF FOOTER STYLING */
footer{
    bottom: 0;
    background-color: #333333;
    color: white;
    text-decoration: none;
    left: 0;
    justify-content: center;
    text-align: center;
}

footer a, footer a:visited, footer a:active{
    text-decoration: none;
}

footer a:hover{
    opacity: 0.85;
}

footer a{
    padding: 0.45em;
}

.contactIcon{
    vertical-align: middle;
    height: 1.15em;
    width: 1.15em;
    filter: invert() brightness(1.4);
}

.contact{
    display: inline-flex;
    align-items: center;
    color: white;
}

#copyEmail{
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

#copyEmail:hover{
    opacity: 0.85;
}

@media (max-width: 450){
    footer a, .contact, #copyEmail{
        width: 24px;
        height: 24px;
        padding: 24px;
    }
}

/* END FOOTER STYLING*/

/* START OF MAIN STYLING */

/* START ALL ELEMENTS */
html, body{
    margin: 0;
    padding: 0;
    background-color: #F3F6FA;
    color: black;
    overflow-x: hidden;
}

h4{
    padding: 0;
    margin: 0;
}

p{
    line-height: 1.45;
}

hr{
    background-color: black; /* Marginally improves contrast */ 
}

ul{
    padding: 1em;
    list-style-type: disc;
    list-style-position: outside;
}

a:hover{
    opacity: 0.8;
}
/* END ALL ELEMENTS */

/* START CLASSES AND IDs*/
.content p{
    line-height: 1.65em;
    padding-left: 0.5em;
}

.link:hover{
    opacity: 0.75;
    text-decoration: none;
}

.wrapper{
    display: flex;
    gap: 0.2rem;
    align-items: flex-start;
    align-items: stretch;
    border-bottom: 0.5em solid black;
}

.wrapper section{
    flex: 1;
    border-right: 0.5em solid black;
}

.wrapper section:last-child{
    border: 0;
}

#detailsWrapper{
    display: flex;
    align-items: stretch;
    gap: 2rem;
}

.education{
    flex: 1;
    border-right: 0.5em black solid;
}

.education:last-child{
    border: 0;
}

.internalLink, .internalLink:visited, .internalLink:active{
    color: black;
}

.internalLink:hover{
    opacity: 0.85;
}

.image{
    width: 100%;
    height: 100%;
}

#firstSentence{
    line-height: 1.75;
}

#stack {
    padding-bottom: 0;
    margin-bottom: 0;
}

#stackList{
    padding-top: 0;
}
/* END CLASSES AND IDs*/

/* START RESPONSIVE */
@media (max-width: 700px){
    .wrapper{
        flex-direction: column;
        gap: 0;
    }

    .wrapper section{
        border-right: 0;
        border-bottom: 0.5em solid black;
    }

    #detailsWrapper{
        flex-direction: column;
        gap: 1rem;
    }

    .courseArticle{
        border-bottom: 0.3em black solid;
    }

    .courseArticle:last-child{
        border: 0;
    }

    .education{
        border-right: 0;
        border-bottom: 0.3em black solid;
    }

    .education:last-child{
        border-bottom: 0.3em black solid;
        border-right: 0;
    }
}
/* END RESPONSIVE */
/* END STYLING */