/*
This is the main CSS file that will be applied to all pages
*/

/*
This removes the margin and padding for the HTML and body section.
*/
html, body{
    margin: 0;
    padding: 0;
}

/*
This sets the navbar styling.
*/
.navBar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: auto;
}

/*
This sets the desgin for the navbar links
*/
.navLinks{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    overflow: hidden;
}

/*
These two make the current page highlted in the navbar.
*/
.navLinks[aria-current='page']{
    background-color: #00379E;
}
.navLinks[aria-current='page']:hover{
    background-color: #00379E;
}

/*
This makes the backgorund change when one is hovered over by the user.
*/
.navLinks:hover{
    background-color: #111111;
}
