/*
This is the main CSS file that will be applied to all pages
*/

/* NAVBAR STYLING */
#navWrap{
    position: sticky;
    top: 0;
}

.navBar{
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
    overflow: auto;
}

.navLinks{
    display: block;
    color: white;
    text-align: center;
    padding: 0.75em 1em;
    text-decoration: none;
}

@media (max-width: 400px){
    .navLinks{
        padding: 0.2em 0.2em;
    }
}

.navLinks[aria-current='page']{
    background-color: #00379E;
}
.navLinks[aria-current='page']:hover{
    background-color: #00379E;
}

.navLinks:hover{
    background-color: #111111;
    opacity: 0.85;
}
/* END OF NAVBAR STYLING */

/* START OF FOOTER STYLING */
footer{
    bottom: 0;
    background-color: #333333;
    color: white;
    text-decoration: none;
    left: 0;
    justify-content: center;
    text-align: center;
}

footer a, footer a:visited, footer a:active{
    text-decoration: none;
}

footer a:hover{
    opacity: 0.85;
}

footer a{
    padding: 0.45em;
}

.contactIcon{
    vertical-align: middle;
    height: 1.15em;
    width: 1.15em;
    filter: invert() brightness(1.4);
}

.contact{
    display: inline-flex;
    align-items: center;
    color: white;
}

#copyEmail{
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

#copyEmail:hover{
    opacity: 0.85;
}
/* END FOOTER STYLING*/

/* START OF MAIN STYLING */

/* This removes the margin and padding for the HTML and body section. */
html, body{
    margin: 0;
    padding: 0;
    background-color: #F3F6FA;
    color: black;
}

h1{
    text-align: center;
}

/* HOME PAGE STYLING */
.content p{
    line-height: 1.65;
    padding-left: 0.5em;
}

#firstSentence{
    line-height: 1.75;
}

.link:hover{
    opacity: 0.75;
    text-decoration: none;
}

/* END STYLING */