---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}

    <title>Portfolio</title>
</head>
<body>
    {% include navbar.html %}

    <div class="content">
        <h1>Andrew Nicholson</h1>
        <p>
            I am an aspiring full-stack developer, currently studying Computer Science and BETC IT.
        </p>
        <p>
            This is currently my frontend flagship project, but will be replaced by my coursework for BETC IT shortly.
            <br>
            This website will undergo changes as my personal skills develop.
        </p>
        <p>
            I have experience using Github, Visual Studio code, and Andriod Studio.
            <br>
            Links to all my profiles can be found at the bottom of the page.
        </p>
        <p>
            My current main focus is learning Kotlin through Google's <em>Andriod Basics with Compose</em> course as apart of the Google Developer program.
        </p>
    </div>

    {% include footer.html %}
<!--
Home page:
Name, What I do, clear and at the top
Short into
Featured projects
Skills snapshots, short summary
Learning/current focus
-->
</body>
</html>