---
permalink: /home/
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}

    <div class="content">
        <h1>Andrew Nicholson</h1>
        <p id="firstSentence">
            I am an aspiring full-stack developer, currently studying Computer Science (OCR) and BETC IT (Pearson).
        </p>
        <p>
            This is currently my frontend flagship project, but will be replaced by my coursework for BETC IT shortly.
            <br>
            More projects can be found <a class="link" href="/Pages/Projects/overview.html">here</a>.
            <br>
            This website will undergo changes as my personal skills develop.
        </p>
        <p>
            I have experience using GitHub, Visual Studio Code, and Android Studio.
            <br>
            I have experience coding in Python, Kotlin, HTML, and CSS.
            <br>
            I am currently learning Kotlin, and have plans to learn C sharp
            <br>
            Links to all my profiles can be found at the bottom of the page.
        </p>
        <p>
            My current main focus is learning Kotlin through Google's <em>Android Basics with Compose</em> course as a part of the Google Developer program.
            <br>
            My future goals are to study Computer Science at university and then get a software engineering role.
        </p>
    </div>

    {% include footer.html %}
</body>
</html>
