---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <title>Projects</title>
</head>
<body>
    {% include navbar.html %}
    <div>
        This page is under development, this will have the overview of my projects
    </div>
    {% include footer.html %}
<!--
This will an overview of my projects, what I have previsouly done and future plans
Have ONE flagship project -> Fullstack
Have links to all other projects
Projects:
- GitHub repo link (if applicable)
- If it is a course, what I learnt
- CLEARLY show projects I did, vs projects done as part of a course
- One or two projects per page
- Have SS if it is an app
- If it is a website have it's link (if applicable)
-->
</body>
</html>