---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <!-- START WRAPPER-->
    <div id="aboutWrapper">
        <!-- START DEVELOPMENT JOURNEY -->
        <section>
            <h2>My Development journey</h2>

        </section>
        <!-- END DEVELOPMENT JOURNEY-->
        <!-- START MY APPROACH-->
        <section>
            <h2>My approach</h2>

        </section>
        <!-- END MY APPROACH-->
        <!-- START OTHER INTERESTS -->
        <section>
            <h2>Other interests</h2>
        </section>
        <!-- END OTHER INTERESTS -->
        <!-- START PLANNED DIRECTION-->
        <section>
            <h2>My planned direction</h2>
        </section>
        <!-- END PLANNED DIRECTION-->
    </div>
    <!-- END WRAPPER -->
    {% include footer.html %}
</body>
</html>