---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <!-- START WRAPPER-->
    <div class="wrapper" id="aboutWrapper">
        <!-- START DEVELOPMENT JOURNEY -->
        <section class="about">
            <h2>My Development journey</h2>
            <p>
            </p>
        </section>
        <!-- END DEVELOPMENT JOURNEY-->
        <!-- START MY APPROACH-->
        <section class="about">
            <h2>My approach</h2>
            <p>
            </p>
        </section>
        <!-- END MY APPROACH-->
        <!-- START PLANNED DIRECTION-->
        <section class="about">
            <h2>My planned direction</h2>
            <p>
                I am planning to go to university after Sixth Form. 
                After university, I hope to get a job in the computer industry as a full-stack software engineer.
            </p>
        </section>
        <!-- END PLANNED DIRECTION-->
        <!-- START OTHER INTERESTS -->
        <section class="about">
            <h2>Other interests</h2>
            <ul>
                <li>Skiing</li>
                <li>Hockey</li>
                <li>Volunteer Police Cadets</li>
                <li>Endurace Racing</li>
                <li>Formula 1</li>
            </ul>
        </section>
        <!-- END OTHER INTERESTS -->
    </div>
    <!-- END WRAPPER -->
    {% include footer.html %}
</body>
</html>