---
page_title: About
permalink: /About/
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <!-- START WRAPPER  -->
    <div class="wrapper">
        <!-- START DEVELOPMENT JOURNEY -->
        <section>
            <h2>My Development journey</h2>
            <article>
                <h3>Initial Interest</h3>
                <p>
                    I started with a small interest in electronic circuits in Primary and early Secondary but had only done a little bit of block coding using
                    Scratch and Tykiner.
                </p>
            </article>
            <article>
                <h3>Learning Python</h3>
                <article>
                    As part of my GCSEs I chose to do Computer Science, despite little coding experience.
                    In  my first year of my GCSEs, I did Replit's introduction to Python course, although I did not complete this course it allowed me to catch up with the rest of the class.
                    This also set the foundation for me now choosing to learn different languages and frameworks outside of lessons.
                </article>
            <!-- START CURRENT FOCUS -->
            <article>
                <h3>Current Focus</h3>
                <p>
                    By this point I was actively enjoying programming, so I decided to take Computer Science as an A-level.
                    I didn't really know what other subjects to do alongside, I decided to do BTEC IT as it is related to using computers.
                </p>
            </article>
            <!-- END CURRENT FOCUS -->
        </section>
        <!-- END DEVELOPMENT JOURNEY-->
        <!-- START MY APPROACH -->
        <section>
            <h2>My approach</h2>
            <!-- START SELF-TEACHING-->
             <article>
                <h3>Self-Teaching</h3>
                <p>
                    I have often taught myself elements of computer science and programming, wether to catch up with my peers to develop my own skills outside of the classroom.
                    For example, I changed my operating system from Windows to Linux.
                </p>
             </article>
            <!-- END SELF-TEACHING-->
            <!-- START ABOUT AI -->
            <article>
                <h3>AI as a tool</h3>
                <p>
                    When developing programs, I use AI in a similar way to peer discussion: to question my thinking, not replace it.
                </p>
            </article>
            <!-- END ABOUT AI -->
        </section>
        <!-- END MY APPROACH-->
    </div>
    <!-- END WRAPPER -->
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START PLANNED DIRECTION-->
        <section>
            <h2>My planned direction</h2>
            <p>
                I am planning to go to university after Sixth Form.
                After university, I plan to get a job in the computer industry as a full-stack software engineer.
            </p>
        </section>
        <!-- END PLANNED DIRECTION-->
        <!-- START OTHER INTERESTS -->
        <section>
            <h2>Other interests</h2>
            <ul>
                <li>Skiing</li>
                <li>Hockey</li>
                <li>Volunteer Police Cadets</li>
                <li>Endurace Racing</li>
                <li>Formula 1</li>
            </ul>
        </section>
        <!-- END OTHER INTERESTS -->
        <!-- END WRAPPER -->
    </div>
    {% include footer.html %}
</body>
</html>