---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/CSS/education.css">
    <title>Education</title>
</head>
<body>
    {% include navbar.html %}
    <div id="listsWrapper">
<!-- START CURRENT-->
        <div id="Current">
            <h1>Current:</h1>
            <ul>
                <li> <a class="courses" href=""> A-Level: <em>Computer Science</em> </a> </li>
                <li> <a class="courses" href=""> BETC: <em>Infomation Technology</em> </a>  </li>
                <li> BETC: <em>Uniformed Protective Services</em> </li>
            </ui>
        </div>
<!-- END CURRENT -->
<!-- START PREVIOUS -->
        <div id="Previous">
            <h1>Previous:</h1>
            <ul>
                <li> <a class="courses" href=""> GCSE: <em>Computer Science</em> </a> </li>
                <li>GCSE: <em>Combined Science</em> </li>
                <li>GCSE: <em>Mathematics</em> </li>
                <li>GCSE: <em>English Literature</em> </lil>
                <li>GCSE: <em>English Language</em> </li>
                <li>GCSE: <em>French</em> </li>
                <li>GCSE: <em>Geography</em> </li>
                <li>GCSE: <em>History</em> </li>
                <li> <a class="courses" href="">FurtureLearn: <em>A Beginner’s Guide to Web Development with HTML5</em> </a> </li>
            </ul>
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
<!--
Link above to projects and skills
Future planned education -> Application in process:
- None

Future confirmed education -> Application accepted:
- None
-->