---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/CSS/education.css">
    <title>Education</title>
</head>
<body>
    {% include navbar.html %}
    <div id="Current">
        <h1>Current</h1>
    </div>
    {% include footer.html %}
</body>
</html>
<!--
Current education -> A-Levels and courses:
In detail:
- BETC IT - Pearson
- A-Level CS - OCR
Only mentioned:
- UPS

Previous education -> GCSEs and courses:
In detail:
- GCSE CS - Grade: 5, Exam board: OCR
- FurtureLearn HTML course
Only mentioned:
- GCSE English Lit
- GCSE Combined Science
- GCSE French
- GCSE English Lang
- GCSE Mathematics
- GCSE Geography 
- GCSE History

Link above to projects and skills
Future planned education -> In application process:
- None

Future confirmed education -> Application accepted:
- None
-->