---
page_title: Education
permalink: /Education/
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <!-- START WRAPPER -->
    <div class="wrapper" role="main">
        <!-- START PREVIOUS -->
        <section class="education">
            <h1>Previous</h1>
            <ul>
                <li>GCSE: <em>Computer Science</em></li>
                <li>GCSE: <em>Combined Science</em> </li>
                <li>GCSE: <em>Mathematics</em> </li>
                <li>GCSE: <em>English Literature</em> </lil>
                <li>GCSE: <em>English Language</em> </li>
                <li>GCSE: <em>French</em> </li>
                <li>GCSE: <em>Geography</em> </li>
                <li>GCSE: <em>History</em> </li>
                <li> <a class="internalLink" href="#FutureLearn">FutureLearn: <em>A Beginner’s Guide to Web Development with HTML5</em> </a> </li>
            </ul>
        </section>
        <!-- END PREVIOUS -->
        <!-- START CURRENT-->
        <section class="education">
            <h1>Current</h1>
            <ul>
                <li> A-Level: <em>Computer Science</em> </li>
                <li> BTEC: <em>Information Technology</em> </li>
                <li> BTEC: <em>Uniformed Protective Services</em> </li>
                <li> <a class="internalLink" href="#androidDevelopment"> Android Development: <em>Andriod basics with compose</em> </a> </li>
                </ui>
        </section>
        <!-- END CURRENT -->
        <!-- START PLANNED-->
        <section class="education">
            <h1>Planned Future</h1>
            <span>I currently have no applications being processed but hope to continue education in University.</span>
        </section>
        <!-- END PLANNED -->
        <!-- START CONFIRMED-->
        <section class="education">
            <h1>Confirmed Future</h1>
            <span>I currently have no accepted applications for future education.</span>
        </section>
        <!-- END CONFIRMED -->
    </div>
    <!-- END WRAPPER -->
    <!-- START DETAILs -->
    <div id="detailsWrapper">
        <!-- START ANDRIOD DEVELOPMENT -->
        <article class="courseArticle">
            <h1>Android Development</h3>
            <p class="coursePharagraph">
                I am learning Android Development through Google's official developer program.
                <br>
                Which can be found <a target="_blank" href="https://developer.android.com/courses">here</a>.
                <br>
                I am currently doing <em>Android Basics with Compose</em>.
            </p>
        </article>
        <!-- END ANDRIOD DEVELOPMENT-->
        <!-- START FUTURELEARN -->
        <article class="courseArticle">
            <h1>FutureLearn</h3>
            <p class="coursePharagraph">
                I have done the FutureLearn couse: <em>A Beginner’s guide to Web Development with HTML5</em>
                <br>
                Which can be found <a target="_blank" href="https://www.futurelearn.com/courses/a-beginners-guide-to-web-development-with-html5">here</a>.
                <br>
                This course introduced me to the basics of HTML 5 which I have used to develop this website.
            </p>
        </article>
        <!-- END FUTURELEARN -->
    </div>
    <!-- END DETAILs -->
    {% include footer.html %}
</body>
</html>