---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START VERSION CONTROL -->
        <section id="versionControl">
            <h2>Version Control</h2>
            <!-- START SYSTEMS I HAVE USED-->
            <article id="systems">
                <h3>Systems I have used</h3>
                <ul>
                    <li>Git</li>
                    <h4>GitHub:</h4>
                    <li>Projects</li>
                    <li>Issues</li>
                    <li>Branches</li>
                    <li>Pages</li>
                    <li>Actions</li>
                </ul>
            </article>
            <hr>
            <!--END SYSTEMS I HAVE USED-->
            <!-- START PROJECTS-->
            <article id="projects">
                <h3>How I strucutre Projects</h3>
                <h4>Projects</h4>
                <p>
                    When I come with an idea for a new project that I want to or need to develop the first thing I do is think of a basic outline for how the final version will work.
                    This is done in bullet points. 
                    I then think about what the code will need to do in order to achieve the final goal.
                </p>
                <p>
                    This is showen in my blackjack project which can be found <!--<a href="">here</a> and (add later after project is on projects page)--> on GitHub, <a href="https://github.com/Andrew-Dev-Coder/Blackjack">here</a>.
                    I started by outlineling what is needed for a game of blackjack, I then came up with what the functions would need to do.
                    At the time of this project I used a text document to plan, but now use GitHub issues as shown by the development of this website.
                </p>
                <h4>GitHub Projects</h4>
                <p>
                    I now use GitHub projects and issues in order to track the progress and note down ideas for a project, such as this website.
                    I use issues to break down my ideas into smaller more mangable chunks (abstraction).
                    I use GitHub projects to track the progress of the issues, not just when I am planning but due in development and maintaince.
                </p>
            </article>
            <hr>
            <!-- END PROJECTS -->
            <!-- START COMMITS-->
            <article id="commits">
                <h3>How I strucuture commits</h3>
                <p>
                    I aim to describe commits in one or two sentences.
                    I commit before I unplug my USB or if I am haivng a break from coding in that repository.
                </p>
            </article>
            <hr>
            <!-- END COMMITS-->
            <!-- START OTHER GITHUB SKILLS -->
            <article id="githubOther">
                <h3>Other GitHub features I have used</h3>
            </article>
            <hr>
            <!--END OTHER GITHUB SKILLS -->
            <!-- START MY VIEW -->
            <article id="overview">
                <h3>My understanding of version control systems</h3>
                <p>
                    Version control systems help software engineers because when used correctly they allow teams to rollback versions if there is an issue and do not blindly allow others to add to a project without be reviewed by a person.
                </p>
            </article>
            <hr>
            <!-- END MY VIEW -->
            <!-- START NEXT STEPS -->
            <article>
                <h3>Next Steps</h3>
            </article>
            <hr>
            <!-- END NEXT STEPS -->
        </section>
        <!-- END VERSION CONTROL -->
    </div>
    <!-- END WRAPPER -->
    {% include footer.html %}
</body>
</html>