---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
</head>
<body>
    {% include navbar.html %}
    <!-- START WRAPPER -->
    <div class="wrapper">
        <!-- START VERSION CONTROL -->
        <section id="versionControl">
            <h2>Version Control</h2>
            <!-- START SYSTEMS I HAVE USED-->
            <article id="systems">
                <h2>Systems I have used</h2>
                <ul>
                    <li>Git</li>
                    <h4>GitHub:</h4>
                    <li>Projects</li>
                    <li>Issues</li>
                    <li>Branches</li>
                    <li>Pages</li>
                    <li>Actions</li>
                </ul>
            </article>
            <!--END SYSTEMS I HAVE USED-->
            <!-- START PROJECTS-->
            <article id="projects">
                <h2>How I strucutre Projects</h2>
            </article>
            <!-- END PROJECTS -->
            <!-- START COMMITS-->
            <article id="commits">
                <h2>How I strucuture commits</h2>
            </article>
            <!-- END COMMITS-->
            <!-- START OTHER GITHUB SKILLS -->
            <article id="githubOther">
                <h2>Other GitHub features I have used</h2>
            </article>
            <!--END OTHER GITHUB SKILLS -->
            <!-- START MY VIEW -->
            <article id="overview">
                <h2>My understanding of version control systems</h2>
                <p>
                    Version control systems help software engineers because when used correctly they allow teams to rollback versions if there is an issue and do not blindly allow others to add to a project without be reviewed by a person.
                </p>
            </article>
            <!-- END MY VIEW -->
            <!-- START NEXT STEPS -->
            <article>
                <h2>Next Steps</h2>
            </article>
            <!-- END NEXT STEPS -->
        </section>
        <!-- END VERSION CONTROL -->
    </div>
    <!-- END WRAPPER -->
    {% include footer.html %}
</body>
</html>