---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <metta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="/CSS/style.css">
    <meta name ="author" content="Andrew">
    {% include favicons.html %}
    
    <title>Skills</title>
</head>
<body>
    {% include navbar.html %}
    This page is under development and will have my skills
    {% include footer.html %}
</body>
</html>