<br>
<footer id="contactInfo">
    <div>
        <a target="_blank" onclick="copyEmail()" href="mailto:contact@andrewcoder.dev">
            <img loading="lazy" class="contact contactIcon" src="/Images/Icons/email-8-svgrepo-com.svg" alt="A email icon">
            &nbsp;
            <span class="contact">contact@andrewcoder.dev</span>
        </a>

        <a target="_blank" href="https://github.com/Andrew-Dev-Coder">
            <img class="contact contactIcon" src="/Images/Icons/github-mark.svg" alt="The GitHub intervtocat logo">
            <span class="contact">GitHub</span>
        </a>
        <a class="contact" target="_blank" href="https://g.dev/andrewcoderdev">Google Developer Profile</a>
    </div>

    <div>
        <a class="contact" target="_blank" href="https://github.com/Andrew-Dev-Coder/Portfolio">Source Code on GitHub</a>
        <a class="contact" target="_blank" href="/Pages/OtherPages/license/">License</a>
        <a class="contact" target="_blank" href="/Pages/Licenses/AI-Notice/">AI Notice</a>
    </div>
</footer>
