<br>
<footer id="contactInfo">
    <a href="mailto:contact@andrewcoder.dev">
        <img class="contact contactIcon" src="/Images/Icons/email-8-svgrepo-com.svg" alt="A email icon">
        <span class="contact">contact@andrewcoder.dev</span>
    </a>
    <button class="contact" id="copyEmail" aria-label="Copy email address" onclick="copyEmail()">Copy Email</button>

    <a target="_blank" href="https://github.com/Andrew-Dev-Coder">
        <img class="contact contactIcon" src="/Images/Icons/github-mark.svg" alt="The GitHub intervtocat logo">
        <span class="contact">GitHub</span>
    </a>
    <a class="contact" target="_blank" href="https://g.dev/andrewcoderdev">Google Developer Profile</a>
    <a class="contact" target="_blank" href="https://orcid.org/0009-0001-5411-1166">ORCID</a>
    <div>
        <a class="contact" target="_blank" href="https://github.com/Andrew-Dev-Coder/Portfolio">Source Code on GitHub</a>
        <a class="contact" target="_blank" href="/Pages/OtherPages/LICENSE.html">License</a>
        <a class="contact" target="_blank" href="/Pages/Licenses/AI-Training-Notice.html">AI Notice</a>
    </div>
</footer>
