<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie-edge">
<link rel="stylesheet" href="/CSS/style.css">
<script src="/JavaScript/JavaScript.js" defer></script>
<meta name ="author" content="Andrew">

<link rel="icon" type="image/svg+xml" href="/Images/Favicons/logo.svg">
<!--Backup icons in case .svg cannot be rendered-->
<link rel="icon" type="image/png" href="/Images/Favicons/logo.png" sizes="32x32">
<link rel="icon" type="image/png" href="/Images/Favicons/logo.png" sizes="16x16">
<link rel="icon" type="iamge/ico" href="/Images/Favicons/logo.ico">

<title>Portfolio</title>
