<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/CSS/style.css">
{% if page.url != "/" and page.url != "/index.html" %}<link rel="canonical" href="www.andrewcoder.dev{{ page.url }}">{% endif %}
{% if page.url == "/" or page.url == "/index.html" %}<link rel="canonical" href="www.andrewcoder.dev/">{% endif %}
<script src="/JavaScript/JavaScript.js" defer></script>

<meta name="description" content="A personal portfolio website showing my current progress in computer science" />
<!--<meta http-equiv="refresh" content="600"> <!-- Refresh every 10 mins, temporary (until V1)-->

<!-- OG (Open Graph) -->
<meta property="og:url" content="https://andrewcoder.dev">
<meta property="og:type" content="website">
<meta property="og:title" content="Portfolio | Andrew Nicholson">
<meta property="og:description" content="A personal portfolio website for me to show my current progress in computer science">
<meta property="og:image" content="/Images/SocialPreviews/preview.png">

<!-- FAVICONS -->
<link rel="icon" type="image/svg+xml" href="/Images/Favicons/logo.svg">
<!-- Backup icons in case .svg cannot be rendered -->
<link rel="icon" type="image/png" href="/Images/Favicons/logo.png" sizes="32x32">
<link rel="icon" type="iamge/ico" href="/Images/Favicons/logo.ico">

<!-- TITLE -->
<title> {{ page.page_title | default:"Portfolio" }} | Andrew Nicholson </title>
