<nav id="navWrap" aria-label="Primary">
    <ul class="navBar">
        <li> <a {% if page.url == "/index.html" or page.url == '/' %} aria-current="page" {% endif %} class="navLinks" href="/index.html">Home</a> </li>
        <li> <a {% if page.url == "/Pages/Projects/overview.html" %} aria-current="page"{% endif %} class="navLinks" href="/Pages/Projects/overview.html">Projects</a> </li>
        <li> <a {% if page.url == "/Pages/OtherPages/skills.html" %} aria-current="page" {% endif %} class="navLinks" href="/Pages/OtherPages/skills.html">Skills</a> </li>
        <li> <a {% if page.url == "/Pages/OtherPages/education.html" %} aria-current="page" {% endif %} class="navLinks" href="/Pages/OtherPages/education.html">Education</a> </li>
        <li> <a {% if page.url == "/Pages/OtherPages/about.html" %} aria-current="page" {% endif %} class="navLinks" href="/Pages/OtherPages/about.html">About</a> </li>
        <li> <a class="navLinks" href="#contactInfo">Contact</a> </li>
    </ul>
</nav>