---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name ="author" content="Andrew">
    {% include favicons.html %}
    <title>AI TRAINING</title>
</head>
<body>
AI TRAINING NOTICE

Copyright 2025 Andrew Nicholson

The content of this website, including but not limited to:
- Written text
- Descriptions
- Explanatory content
- Portfolio narratives
- Non-code assets

may NOT be used, in whole or in part, to train, fine-tune, or develop
artificial intelligence systems, machine learning models, or large
language models, whether for commercial or non-commercial purposes,
without explicit prior written permission.

This restriction does NOT apply to source code explicitly licensed
under the MIT License or Apache License 2.0.
{% include footer.html %}
</body>
</html>