---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/CSS/projects.css">
</head>
<body>
    {% include navbar.html %}

    <nav>
        <ul class="breadcrumbs">
            <li class="breadItem">You are here: </li>
            <li class="breadItem"><a href="https://andrewcoder.dev/Overview/Projects/">Overview</a> > </li>
            <li class="breadItem" id="currentPage">{{ page.page_title }}</li>
        </ul>
    </nav>

    <h1>{{ page.page_title }}</h1>

    {% if page.summary %}
        <span>{{ page.summary }}</span>
    {% endif %}

    {% if page.stack %}
        <hr>
        <h2 id="stack">Applied Skills</h2>
        <ul id="stackList">
            {% for item in page.stack %}
            <li>{{ item }}</li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}

    {% if page.github_link %}
        <h2>Source Code</h2>
        <span>
            The projects source code is available on <a href="{{ page.github_link }}" target="_blank">GitHub</a>.
        </span>
        <br>
        <hr>
    {% endif %}

    {% if page.type == "website" %}
        <span>
            The website can be found, <a href="{{ page.site }}" target="_blank">here</a>.
        </span>
        <hr>
    {% endif %}

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>