---
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="/CSS/projects.css">
</head>
<body>
    {% include navbar.html %}

    <nav>
        <ul class="breadcrumbs">
            <li class="breadItem">You are here: </li>
            <li class="breadItem"><a class="breadLink" href="/Overview/Projects/">Projects</a> > </li>
            <li class="breadItem">{{ page.page_title }}</li>
        </ul>
    </nav>

    <h1>{{ page.page_title }}</h1>

    {% if page.summary %}
        <span>{{ page.summary }}</span>
    {% endif %}

    {% if page.stack %}
        <hr>
        <h2 id="stack">Applied Skills</h2>
        <ul id="stackList">
            {% for item in page.stack %}
            <li> {% if item == 'Visual Studio Code' %} {{ '<img loading="lazy" class="logo" src="/Images/Icons/vscode.svg" alt="">' }} {% endif %}  {{ item }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if page.github_link %}
        <hr>
        <h2>Source Code</h2>
        <span><p>
    
</p>
            The projects source code is available on <a href="{{ page.github_link }}" target="_blank">GitHub</a>.
        </span>
        <br>
    {% endif %}

    {% if page.type == "website" %}
        <hr>
        <h2>Website</h2>
        <span>
            The website can be found, <a href="{{ page.site }}" target="_blank">here</a>.
        </span>
    {% endif %}

    <hr>
    <main>
        {{ content }}
    </main>

    {% include footer.html %}
</body>
</html>